/*Variable*/
:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;
    
    --white: #fff;
  
    --title: #181818;
    --text-white: #f9f9f9;
    --text: #474747;
  }
  
  /*Reset*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  button,
  input {
    border: 0;
  }
  button:focus,
  input:focus {
    border: 0;
  }

  /*Fonts*/


  @font-face {
    font-family: 'montserrat-medium';
    src: url(../fonts/Montserrat-Medium.ttf);
  }
  @font-face {
    font-family: 'montserrat-bold';
    src: url(../fonts/Montserrat-Bold.ttf);
  }
  @font-face {
    font-family: 'montserrat-semibold';
    src: url(../fonts/Montserrat-SemiBold.ttf);
  }
  /*Elements*/

  header > nav > .discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--title);
    color: var(--text-white);
    width: 100%;
    height: 60px;
    font-family: 'montserrat-medium';
    font-size: 16px;
  }

  .discount > p {
    font-family: 'montserrat-bold';
    font-size: 16px;
  }

  header > nav > .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .logo > h1 {
    font-family: 'montserrat-bold';
    font-size: 24px;
  }

  .container {
    padding: 70px 50px;
    height: 100%;
  }

  .banner {
    background-image: url(../assets/img/wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 378px;
    width: 100%;
  }

  .banner-title {
    font-family: 'montserrat-bold';
    font-size: 32px;
    color: var(--text-white);
    padding-left: 20px;
    padding-bottom: 15px;
  }

  .banner-context {
    font-family: 'montserrat-medium';
    font-size: 18px;
    color: var(--text-white);
    padding-left: 20px;
    line-height: 35px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%;
  }

  .hero-title {
    font-family: 'montserrat-semibold';
    font-size: 32px;
    margin-bottom: 15px;
  }

  .hero-description {
    font-family: 'montserrat-medium';
    font-size: 18px;
  }

  .list-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 302px;
    background-color: var(--bgCard);
    margin: 5px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'montserrat-medium';
    font-size: 18px;
    width: 100%;
    height: 60px;
    background-color: var(--title);
    color: var(--text-white);
  }